legend {
  background-color: lightgray;
  border-style: solid;
  border-width: 1px;
}
footer {
  background-color: lightgray;
  border-style: solid;
  border-width: 1px;
}

textarea {
  width: 100%;
  height: 100px;
}
.alert-custom {
  background-color: lightpink;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 10px;
}

.tarjAccetped {
  background-color: grey;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 8px 12px;
  margin-left: 10px;
  border-radius: 5px;
}
